* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E9EEF6;
    font-family: 'IBM Plex Sans', sans-serif;
}

section {
    width: 1200px;
    height: 520px;

    display: flex;
    flex-direction: column;
    background-color: white;

    border-radius: 32px;
}

.colecoes {
    display: flex;
}

.blocos {
    width: 400px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 50px;
    background: #F8F2FA;
    border-radius: 5px;
}

.titulo h1 {
    text-align: center;

    margin: 61px 0px 65px;
}

.blocos img {
    background-color: white;
    border-radius: 50%;

    margin-bottom: 23px;
}

.blocos h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    margin-bottom: 10px;
}

.blocos p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    margin-bottom: 35px;
}

.blocos a {
    text-decoration: none;
    background: #0C1727;
    padding: 12px 23px;
    border-radius: 3px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: white;
}

.search {
    margin: 0px 9px 90px 45px;
}

.browser {
    margin: 0px 9px 90px;
}

.maps {
    margin: 0px 45px 90px 9px;
}